:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
  --color-text: #777;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}
/* Contact Section */
#contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
   }
   #contact-details .details {
    width: 40%;
   }
   #contact-details .details span {
    font-size: 12px;
    
   }
   #contact-details .details span,
   #form-details form span {
    font-size: 12px;
  
   }
   #contact-details .details h2,
   #form-details form h2 {
    font-size: 18px;
    margin: 0;
   }
   #contact-details .details h3 {
    font-size: 15px;
    line-height: 30px;
   
   }
   #contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
   }
   #contact-details .details li i {
    font-size: 14px;
    padding-right:22px ;
   }
   #contact-details .details li p {
    margin:0;
    font-size: 14px;
   }
   
    .custom-alert {
      display: none;
      padding: 16px;
      background-color: #307a5a;
      color: white;
      border-radius: 8px;
      margin-bottom: 20px;
      text-align: center;
      animation: fadeIn 0.6s ease-in-out;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }
    .technoweb a {
      font-size: 18px;
      color: #FDC93B;
      transition: 0.3s ease-in-out;
      font-weight: 700;
      font-family: 'Reey', cursive;
    }
    .technoweb a:hover {
      font-size: 16px;
      color: white;
      text-decoration: underline;
    }

    /* projects */
    .proj{
      display: flex;
      text-align: flex-start;
      flex-direction: column;
      height: 150vh;
      align-items: flex-start;
      padding: 30vh 20px 20px 20px;
      background: linear-gradient(to right, var(--color-bg2) 0%, rgb(255,255,255,0.5) 50%, rgb(255,255,255,0) 100%), url(assets/bbb.jpg) no-repeat center/cover;
      background-position: top;
    }
    

    .proj h2{
      margin-bottom: 20px;
      color: var(--color-white);
      align-self: flex-start;
    }
    .proj p{
      margin-bottom: 30px;
      max-width: 600px;
      line-height: 1.8;
      color: var(--color-white);
    }
    .proj .btn{
      padding: 10px 25px;
      font-size: 1rem;
      background-color: var(--color-warning);
      border: none;
    }
    .proj .btn:hover{
      background-color: var(--color-bg2);
      border-color: var(--color-white);
      color: var(--color-white);
    }


  
    .custom-alert.error {
      background-color: #000;
    }
    @media screen and (max-width: 870px) {
      #contact-details {
        flex-direction: column;
      }
      #contact-details .details,
      #contact-details .map {
        width: 100%;
        padding: 20px;
      }
      .proj h2{
      margin-bottom: 15px;
      color: var(--color-white);
      text-align: left;
    }
    .proj {
      height: auto;
      padding: 20vh 20px 20px 20px;
    }
    
    }

  


